h1 {
	color: white;
	text-shadow: blue 1px 0px 10px;
}

h2 {
	color: lightblue;
    width:30%;
    height:100px;
    background-color: lightyellow;
    margin:0 auto;
    text-align:center;
    transform:skew(15deg,15deg);
}

h3 {
	color: lightgreen;
}

p {
	margin: 5px;
	font-family: cursive;
    color: red;
    margin-left: 5px;
	background-color: lightyellow;
}