h1 {
	color: white;
	text-shadow: blue 1px 0px 10px;
}

h2 {
	color: lightblue;
}

h3 {
	color: lightyellow;
}

p {
	margin: 5px;
	font-family: cursive;
    color: red;
    margin-left: 5px;
	background-color: lightyellow;
}